<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Все книги</title>

    <style>
        .book-container {
            border: 1px solid #000;
            margin: 10px;
            padding: 10px;
        }

        .book-info {
            margin: 0;
        }
    </style>
</head>
<body>

<h1>Все книги</h1>

<div th:each="book : ${books}" class="book-container">
    <div class="book-info">
        <p>Автор книги: <span th:text="${book.author}"></span></p>
        <p>Наименование книги: <span th:text="${book.name}"></span></p>
        <p>ISBN книги: <span th:text="${book.ISBN}"></span></p>
        <a th:href="@{http://localhost:8080/book/change/{id}(id=${book.getId()})}"><button>Изменить информацию</button></a>
    </div>
</div>
<a href="http://localhost:8080/"><button>Вернуться к главной странице</button></a>
</body>
</html>