<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MainView</title>
</head>
<body>
<h1>Добро пожаловать! Выберете действие</h1>
<br>
<a href="http://localhost:8080/book/allBook"><button>Посмотреть все книги</button></a>

<a href="http://localhost:8080/book/newBook"><button>Добавить новую книгу</button></a>

<a href="http://localhost:8080/user/allUsers"><button>Посмотреть всех читателей</button></a>

<a href="http://localhost:8080/user/newUser"><button>Добавить читателя</button></a>

<a href="http://localhost:8080/booksOnUser"><button>Сервис взятия книг</button></a>

</body>
</html>